.fullBody {
  background-color: thistle;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#seperate {
  background-color: cadetblue;
}

.App {
  background-color: rgb(164, 70, 181);
  border: 2px solid black;
  width: 50vw;
  height: 60vh;
  border-radius: 2rem;
}

.basic-form1 label {
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: medium;
  font-family: cursive;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  background: rgb(164, 70, 181) ;
}

.basic-form1 input {
  width: 25vw;
  height: 4vh;
  outline: none;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  margin-left: 8rem;
  margin-top: 2rem;
  color: white;
  background-color: rgb(219, 15, 110);
  border: none;
  padding: 10px 19px;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  
}

